@font-face {
    font-family: xxx;
    src: url(/Fonts/Convergence.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #d3e0f3;
    font-family: xxx;
}

header {
    width: 100%;
    height: auto;
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.heading {
    display: flex;
}

h2 {
    color: #fff;
    margin-right: 15px;
}

button.h-btn {
    background-color: #42b72a;
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 7px;
    border-radius: 2px;
}

.input-container {
    display: flex;
}

label {
    color: #fff;
    font-size: 12px;
}

input {
    outline: none;
    margin-right: 10px;
}

.input p {
    color: #8fb4cc;
    font-size: 10px;
    font-weight: 10;
}

.input button {
    position: relative;
    background-color: #4e88fa;
    color: #fff;
    padding: 2px 5px;
    border: none;
    top: 18px;
    font-family: xxx;
}

.lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.lower .top {
    display: flex;
    background-color: #fff;
    width: 50%;
    height: 30px;
    align-items: center;
    border: 2px solid #3578e5;
    border-left: none;
    margin-bottom: 5px;
}

.icon {
    background-color: #3578e5;
    height: 110%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.fa-solid {
    padding-right: 10px;
    color: #Fff;
}

.text {
    padding-left: 20px;
    font-size: 12px;
}

.bottom {
    background-color: #fff;
    width: 50%;
}

.bottom p {
    color: rgb(34, 31, 31);
    text-align: center;
    margin: 25px 0;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 20px 180px;
    gap: 5px;
}

.info input {
    padding: 3px;
    margin-bottom: 5px;
}

.info input::placeholder {
    font-size: 12px;
}

.info button {
    position: relative;
    right: 5px;
    background-color: #4267b2;
    color: #fff;
    border: none;
    height: 20px;
    width: 90%;
    align-self: center;
    padding: 10px auto;
    font-size: 12px;
    cursor: pointer;
}

.info span{
    position: relative;
    bottom: 20px;
}

.info span p{
    color: #387dc3;
    font-size: 12px;
    cursor: pointer;
}

button.btn{
    position: relative;
    bottom: 40px;
    background-color: #42b72a;
    width: auto;
    padding: 5px;
    text-align: center;
    height: 30px;
    font-size: 11px;
    cursor: pointer;
}